<style>
    .demo-card-wide.mdl-card {
        width: 512px;
    }
    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
    }
    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>

<!-- Uses a transparent header that draws on top of the layout's background -->
<div mdl id="login-page" class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content center">
        <div class="page-content">
            <!-- Wide card with share menu button -->
            <div class="mdl-card mdl-shadow--16dp">
                <h1 class="mdl-typography--text-center">Welcome to Todovio</h1>

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#starks-panel" class="mdl-tabs__tab is-active">Login</a>
                        <a href="#lannisters-panel" class="mdl-tabs__tab">Create New Account</a>
                    </div>
                </div>

                <form class="mdl-typography--text-center" (submit)="login(email.value, password.value)">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input #firstName class="mdl-textfield__input" type="text" id="firstName">
                        <label class="mdl-textfield__label" for="firstName">First Name</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input #email class="mdl-textfield__input" type="text" id="email">
                        <label class="mdl-textfield__label" for="email">E-Mail</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input #password class="mdl-textfield__input" type="password" id="password">
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>

                    <div>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">
                            Register
                        </button>
                    </div>

                </form>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="logout()">
                        Logout
                    </button>
                </div>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="isAuthenticated()">
                        Authenticated
                    </button>
                </div>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="validateEmail(email.value)">
                        Email Validation
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>
