#login-page {
    background: url('app/res/img/login-background.jpg') center / cover;
}

.mdl-card {
    padding: 10px;
    min-width: 400px;
}

#form-buttons {
    margin-top: 10px;
    margin-bottom: 20px;
}

#tabs {
    margin-bottom: 20px;
}